<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="/static/js/chats.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="main">
            <div class="col-md-3 col-lg-2">
                <input type="hidden">
            </div>

            <div class="col-lg-10 col-md-9">
                {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class="col-4" style="height: 100vh; border-right: 1px solid #404040;">
                            <div class="mt-5">
                                <a href="/profile" class="profile_link" style="font-size: 25px;"><b>{{ user.username }}</b></a>
                            </div>
                            <div class="mt-4">
                                <p class="text-white h6"><b>Messages</b></p>
                                {% if chats %}
                                    {% for c in chats %}
                                    <div class="my-3">
                                        <a data-url="/chats/" data-id="{{ c.0.id }}">
                                            <img class="profile-image pr-3" src="{{ c.1.image.url }}" width="50" height="50">
                                        </a>
                                        <button data-url="/chats/" data-id="{{ c.0.id }}" class="btn_snd open mx-2">
                                            Chat: {{ c.1.username }}
                                        </button>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div id="chat" class="col-8"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>