<div>
    <div class="my-3" style="overflow-y: scroll; height: 600px;">
        {% if messages %}
        <div id="messages" class="container">
                {% for m in messages %}
                    {% if m.user == user %}
                        <div class="row">
                            <div>
                                <p class="u_msg float-end">{{ m.body }}</p><br>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div>
                                <p class="msg">{{ m.body }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {% csrf_token %}
        {% for f in form %}
            {{ f }}
        {% endfor %}
        <button id="input" class="btn_snd" data-url="/chats/" data-id="{{ chat.id }}">Send</button>
    </div>
</div>