<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Creffeny</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/post.js"></script>
    <link rel="stylesheet" href="/static/css/posts.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/sociable_saturn.png">
</head>
<body>
    <div id="header">
        <div class="Creffeny">
            <a href="{% url 'home' %}">
                <img src="/static/icons/sociable_saturn.png" alt="Creffeny" id="Creffeny">
            </a>
        </div>
    </div>
    <div id="navigator">
        <div class="user-menu">
            <details id="user-menu-toggle">
                <summary>
                    <img src="/{{ profile.profile_image }}" height="80px" width="80px">
                </summary>
                    <ul id="user-menu-items">
                <li><a href="/profile/{{ user.username }}">Profile</a></li>
                <li><a href="/chats">Chats</a></li>
                <li id="nadd"><a id="addpost" data-url="{% url 'home' %}">Add Post</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
            </details>
        </div>
    </div>
    <div id="content">
        <div id="post" data-url="/post/{{ post.id }}/">
            <h2>{{ post.title }}</h2>
            <img src="/{{ post.image }}" height="400px" id="post_img"><br>
            <p id="post_body">{{ post.body }}</p>
            <a id="delete_post_btn"></a>
        </div>
        <a id="like" data-url="/post/{{ post.id }}/"><img id="like_img" src="" width="35px"></a>
        <p id="likes">{{ like_amount }}</p>
        <a id="dislike" data-url="/post/{{ post.id }}/"><img id="dislike_img" src="" width="35px"></a>
        <p id="dislikes">{{ dislike_amount }}</p>
        <div id="a_profile">
            <a href="/profile/{{ post.user.username }}">
                <img src="/{{ post_profile.profile_image }}" id="post_profile" height="100px" width="100px">
                <h5>{{ post.user.username }}</h5>
            </a>
        </div>
    </div>
    <div id="comments">
        {% csrf_token %}
        <input type="text" id="id_body" placeholder="Add Comment">
        <button id="add" data-url="/post/{{ post.id }}/">Add</button>
        <div class="comments">
            {% for c in comments %}
            <p class="comment">
                {{ c.user.username }}<br>{{ c.body }}
                <a class="comment_like" id='{{ c.id }}' data-url="/post/{{ post.id }}/" data-id="{{ c.id }}">
                    <img src="" class="comment_like_img">
                </a>
                <p class="comment_likes">{{ comment_like_amount }}</p>
            </p>
            {% endfor %}
        </div>
    </div>
    <dialog id="add_photo">
        <input type="file" id="select_photo">
        <button class="close">X</button>
    </dialog>
    <dialog id="add_text">
        <img src="" id="add_img" height="315px"><br>
        <input type="text" id="post_title" placeholder="Post Title"><br>
        <textarea cols="40" rows="7" id="post_text"></textarea>
        <input class="submit" type="submit" value="Post">
        <button class="close">X</button>
    </dialog>
    <dialog id="delete_post">
        <button class="close">X</button>
        <h3 id="delete-question">You want to delete this post?</h3>
        <button id="delete-post-yes" data-url="/delete/{{ post.id }}/" data-home="{% url 'home' %}">Yes</button>
        <button id="delete-post-no">No</button>
        {% csrf_token %}
    </dialog>
</body>
</html>