<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }} - Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="icon" type="image/x-icon" href="/static/icons/sociable_saturn.png">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/profile.js"></script>
</head>
<body>
    <div id="header">
        <div class="Creffeny">
            <a href="{% url 'home' %}">
                <img src="/static/icons/sociable_saturn.png" alt="Creffeny" id="Creffeny">
            </a>
        </div>
    </div>
    <div id="navigator">
        <div class="user-menu">
            <details id="user-menu-toggle">
                <summary>
                    <img src="/{{ profile.profile_image }}" height="80px" width="80px">
                </summary>
                    <ul id="user-menu-items">
                <li><a href="/profile/{{ self_u.username }}">Profile</a></li>
                <li><a href="/chats">Chats</a></li>
                <li id="nadd"><a id="addpost" data-url="{% url 'home' %}">Add Post</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
            </details>
        </div>
    </div>
    <div id="content">
        <img id="profile_image" src="/{{ p_profile.profile_image }}" height="250px" width="250px">
        <a id="{{ change_profile_id }}" href="{{ change_profile_href }}">{{ change_profile }}</a>
        <p id="following">Following: {{ following }}</p>
        <p id="followers">Followers: {{ followers }}</p>
        {% if user != self_u %}
        <button id="follow" data-url="/profile/{{ user.username }}/">Follow</button>
        {% endif %}
        <h1 id="username">{{ user.username }}</h1>
    </div>
    <div id="posts">
        {% for p in posts %}
        <span>
            <a href="/post/{{ p.id }}">
                <img height="250px" src="/{{ p.image }}">
                <p>{{ p.title }}</p>
            </a>
        </span>
        {% endfor %}
    </div>
    {% csrf_token %}
    <dialog id="add_photo">
        <input type="file" id="select_photo">
        <button class="close">X</button>
    </dialog>
    <dialog id="add_text">
        <img src="" id="add_img" height="315px"><br>
        <input type="text" id="post_title" placeholder="Post Title"><br>
        <textarea cols="40" rows="7" id="post_text"></textarea>
        <input class="submit" type="submit" value="Post">
        <button class="close">X</button>
    </dialog>
    <dialog id="change_profile_img_1">
        <button class="close">X</button>
        <input type="file" id="change_profile">
    </dialog>
    <dialog id="change_profile_img_2">
        <button class="close">X</button>
        <img src="" id="changed_profile_img">
        <input type="submit" class="submit_img" value="Change">
    </dialog>
</body>
</html>