html
{
    background-color: #333;
    font: normal 17px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
    color: #fff;
}

ul { list-style-type: square; }

#navigation { overflow: hidden; }

p, a, h1, h2, h3, h5, h6 { color: white; }

a:link { text-decoration: none; }

#addpost:hover { cursor: pointer; }

#header { width: 100%; }

#Creffeny { height: 250px; }

.Creffeny
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
}

#content
{
    margin-left: 100px;
    margin-right: 100px;
}

span { display: inline-block; }

dialog
{
    width: 875px;
    height: 575px;
    border: 1px solid #e1e4e8;
    border-radius: 50px;
    background-color: rgb(65, 65, 65);
    top: 0%;
}

dialog::backdrop { background: rgba(114, 114, 114, 0.5); }

#add_text { align-items: center; }

#add_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

#post_text
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(129, 126, 126);
    border-radius: 20px;
    border-width: 7px;
    border-color: rgb(129, 126, 126);
    font: normal 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
    color: white;
}

#select_photo
{
    display: block;
    margin: auto;
}

.submit
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: rgb(129, 126, 126);
    color: white;
    width: 75px;
    border-radius: 15px;
    font: normal 16px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

#post_title
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 15px;
    background-color: rgb(129, 126, 126);
    text-align: center;
    width: 150px;
}

#profile_image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.close
{
    position: absolute;
    transform: translate(850px, -17px);
    color: white;
    background-color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
    font-size: 25px;
}

#add_text .close
{
    position: absolute;
    color: white;
    background-color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
    font-size: 25px;
    transform: translate(850px, -570px);
}

#navigator { width: 93%; position: absolute; }

.user-menu
{
    position: relative;
    width: 100px;
    margin-left: auto;
    transform: translate(0px, -200px);
}

.user-menu img
{
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

#user-menu-toggle
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#user-menu-items
{
    display: block;
    position: absolute;
    background-color: rgb(65, 65, 65);
    padding: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    list-style: none;
}

#user-menu-items li { margin-bottom: 5px; }

#user-menu-items li a
{
    text-decoration: none;
    color: #fff;
}

#user-menu-items li a:hover { text-decoration: underline; }

#content img
{
    max-width: 445px;
    overflow: hidden;
    object-fit: cover;
}