html
{
    background-color: #333;
    font: normal 17px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}

ul { list-style-type: square; }

#navigation { overflow: hidden; }

p, a, h1, h2, h3, h5, h6 { color: white; }

a:link { text-decoration: none; }

#addpost:hover { cursor: pointer; }

#navigation ul
{
    list-style-type: none;
    margin: auto;
    width: 35%;
    background: none;
    border-width: 0;
}

#navigation li
{
    float: left;
	display: block;
	padding: 5px 10px;
    margin-right: 15px;
}

#header { width: 100%; }

#Creffeny 
{
    text-align: center;
    font-family: 'Lucida Handwriting', cursive;
    font-size: 45px;
}

#content
{
    margin-left: 100px;
    margin-right: 100px;
}

dialog
{
    width: 775px;
    height: 525px;
    border-radius: 50px;
    background-color: rgb(65, 65, 65);
    transform: translate(0px, -100px);
}

#add_text { align-items: center; }

#add_img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#post_text
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(129, 126, 126);
    border-radius: 20px;
    border-width: 7px;
    border-color: rgb(129, 126, 126);
    font: normal 14px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
    color: white;
}

#select_photo
{
    display: block;
    margin: auto;
}

.submit
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: rgb(129, 126, 126);
    color: white;
    width: 75px;
    border-radius: 15px;
    font: normal 16px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
}