body { background-color: rgb(54, 54, 54); }

label { display: none; }

form {
    margin: auto;
    width: 15%;
    padding-top: 15%;
}

input {
    border-style: solid;
    border-radius: 15px;
    border-width: 7px;
    text-align: center;
}

.submit { margin-left: 45px; }