html
{
    background-color: #333;
    font: normal 17px "Trebuchet MS", "Lucida Grande", Verdana, Georgia, Sans-Serif;
    color: white;
}

#content
{
    margin-left: 100px;
    margin-right: 100px;
}

#comments
{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

#header { width: 100%; }

#Creffeny { height: 250px; }

.Creffeny
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
}

h2 { text-align: center; font-size: 30px; }

h5 { font-size: 30px; text-align: end; }

#post_img { display: block; margin: auto; }

#post_body { text-align: center; }

#likes
{
    transform: translate(40px, -40px);
}

#id_body
{
    background-color: rgb(129, 126, 126);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgb(129, 126, 126);
    width: 250px;
    height: 30px;
    color: white;
}

#add
{
    background-color: rgb(100, 99, 99);
    border-radius: 10px;
    border-width: 12px;
    border-color: rgb(100, 99, 99);
    transform: translate(-20px, 0px);
    color: white;
}

.comment
{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
}

ul { list-style-type: square; }

#navigation { overflow: hidden; }

p, a, h1, h2, h3, h5, h6 { color: white; }

a:link { text-decoration: none; }

#addpost:hover { cursor: pointer; }

#navigation ul
{
    list-style-type: none;
    margin: auto;
    width: 35%;
    background: none;
    border-width: 0;
}

#navigation li
{
    float: left;
	display: block;
	padding: 5px 10px;
    margin-right: 15px;
}