html { background-color: #333; }

label { display: none; }

form {
    margin: auto;
    width: 15%;
    padding-top: 15%;
}

input {
    border-style: solid;
    border-radius: 15px;
    border-width: 7px;
    text-align: center;
}

#id_email { transform: translate(0px, -15px); }

#id_password1 { transform: translate(0px, -30px); }

#id_password2 { transform: translate(0px, -45px); }

.submit { transform: translate(45px, -30px); }